<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
      <main class="container">
        <nav th:replace="layout :: menu">(menu)</nav>
        <h1>Usuarios</h1>

        <a href="/" class="btn btn-light">Voltar</a>
        <a href="/usuarios/novo" class="btn btn-primary">Novo</a>

        <table class="table" id="tabusuarios">
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Data Nascimento</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="umUsuario : ${listaUsuarios}">
                    <td th:text="${umUsuario.id}"></td>
                    <td th:text="${umUsuario.nome}"></td>
                    <td th:text="${umUsuario.endereco}"></td>
                    <td th:text="${umUsuario.dataNascimento}"></td>
                    <td><a th:href="@{'usuarios/alterar/' + ${umUsuario.id}}" class="btn btn-warning">Alterar</a>
                        <button class="btn btn-danger js-delete" th:data-id="${umUsuario.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal" tabindex="-1" id="modalusuario">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Quer mesmo deletar esse registro?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/scriptUsuario.js}" ></script>
      </main>
    </body>
</html>