<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <main class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            
            <h1>Telas:</h1><br/>
            <a href="/usuarios" class="btn btn-primary">Usuarios</a><br/><br/>
            <a href="/empresas" class="btn btn-primary">Empresas</a><br/><br/>
            <a href="/clientes" class="btn btn-primary">Clientes</a><br/><br/>
            <a href="/cupons" class="btn btn-primary">Cupons</a>
            <div th:include="layout :: footer">(footer)</div>
        </main>
    </body>
</html>